<h1 style="text-align: center;"><b>{{ctr.pickDate | date : 'fullDate'}}<span ng-if="ctr.pickDate.getDate() === ctr.today.getDate()"> (Today)</span></b></h1>
<h3 style="text-align:center;">{{ctr.timeWindows.length}} Times | {{ctr.dayOrders()}} Orders</h3>
<!-- PICK DATE -->
<div class="input-group">
  <input ng-model="ctr.pickDate" ng-change="ctr.selectDate()" uib-datepicker-popup="fullDate" ng-click="ctr.isStartTimeDatepickerOpen = true" is-open="ctr.isStartTimeDatepickerOpen" close-text="Close" class="form-control"/>
</div>
<!-- CURRENT TIMES -->
<div class="well" style="background: #ffffff;">
  <h3><b>Offered Times</b></h3>
  <div class="row" style="text-align: center;">
    <div class="col-md-4" ng-repeat="i in [0,1,2]">
      <h4><b>{{ctr.periodNames[i]}}</b></h4>
      <ul class="list-group" ng-if="ctr.timeWindows.length">
        <a href="#" class="list-group-item" ng-repeat="time in ctr.timeWindows | filter:ctr.periodFilter(i) as filtered" ng-click="ctr.selectTime(time)" ng-class="{active: time._id === ctr.selectedTime._id}">
          <b>{{time.start_time | date: 'shortTime'}} to {{time.end_time | date: 'shortTime'}}</b>
          <br>Expires: {{time.expire_time | date: 'shortTime'}} | Disabled: {{time.unavailable}}
          <br>Orders: {{time.orders.length}} / {{time.max_orders}}
        </a>
        <li class="list-group-item" ng-disabled="true" ng-if="filtered.length === 0">
          <b>None</b>
        </li>
      </ul>
      <li class="list-group-item" ng-disabled="true" ng-if="ctr.timeWindows.length === 0">
        <b>None</b>
      </li>
    </div>
  </div>
  <!-- TIME DETAILS -->
  <div class="container" ng-if="ctr.selectedTime._id">
    <hr>
    <!-- TIME DETAILS AND OPTIONS -->
    <div class="row">
      <div class="col-xs-4">
        <h4><b>ID: {{ctr.selectedTime._id}}</b></h4>
        <div class="row">
          <div class="col-xs-3">
            <div class="input-group">
              <toggle ng-model="ctr.selectedTime.unavailable" ng-change="ctr.editTimeWindow()" on="Disabled" off="Disable"></toggle>
            </div>
            <div class="input-group">
              <button class="btn btn-primary btn-block" ng-click="ctr.editTimeWindow()">Save</button>
            </div>
            <div class="input-group">
              <button class="btn btn-danger btn-block" ng-click="ctr.deleteTimeWindow()">Delete</button>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="input-group">
              <span class="input-group-addon">Max Orders</span>
              <input type="number" class="form-control" ng-model="ctr.selectedTime.max_orders">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Max Total $</span>
              <input type="number" class="form-control" ng-model="ctr.selectedTime.max_total">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Expire Time</span>
              <input type="time" class="form-control" ng-model="ctr.selectedTime.expire_time">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-8">
        <!-- TIME ORDERS -->
        <h4><b>Orders <span ng-if="ctr.selectedTimeOrders.length > 0">(Total: ${{ctr.totalPrice()}}) </span>| {{ctr.selectedTime.start_time | date: 'MMM d, y h:mm a'}} - {{ctr.selectedTime.end_time | date:'h:mm a'}}</b></h4>
        <div class="list-inline" style="font-weight: normal;">
          <li href="#" class="list-group-item" ng-repeat="order in ctr.selectedTimeOrders" style="padding: 10px 15px;">
            <b>Order:</b> {{order.name}} <b>ID:</b> #{{order.id}}<b style="float: right;">{{$index+1}}</b>
            <br><b>Name:</b> {{order.customer.first_name}} {{order.customer.last_name}}
            <br><b>Address:</b> {{order.shipping_address.address1}}
            <br>{{order.shipping_address.zip}}, {{order.shipping_address.city}}
            <br><b>Total:</b> ${{order.total_price}} <b>Items:</b> {{order.line_items.length}}<button class="btn btn-danger btn-xs" ng-click="ctr.removeOrder(order.id)" style="float: right;">Remove</button>
            <span ng-if="order.delivery"><br><b><font color='green'>Assigned:</font> </b>{{order.delivery.fleet_name}}</b></span>
          </li>
          <li class="list-group-item" ng-if="ctr.selectedTimeOrders.length < 1">
            No Orders
          </li>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- GENERATE TIMES -->
<div class="well" style="background: #ffffff;">
  <h3><b>Add Times</b> <a href="#" class="fa fa-plus-circle fa-1x"></a></h3>
  <div class="row" style="text-align: center;">
    <div class="col-md-4" ng-repeat="i in [0,1,2]">
      <h4><b>{{ctr.periodNames[i]}}</b></h4>
      <ul class="list-group" ng-if="ctr.generatedTimes.length">
        <a href="#" class="list-group-item" ng-repeat="time in ctr.generatedTimes | filter:ctr.periodFilter(i) as filtered" ng-click="ctr.toggleTime(time)" ng-class="{active: ctr.selectedGeneratedTimes.indexOf(time) > -1}">
          <b>{{time.start_time | date: 'shortTime'}} to {{time.end_time | date: 'shortTime'}}</b>
          <br>Expires: {{time.expire_time | date: 'shortTime'}}
        </a>
        <li class="list-group-item" ng-disabled="true" ng-if="filtered.length === 0">
          <b>None</b>
        </li>
      </ul>
    </div>
  </div>
  <!-- ADD SETTINGS -->
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <button class="btn btn-success btn-block" ng-click="ctr.submitTimeWindows()">Add Selected Times</button>
      </div>
      <div class="input-group">
        <button class="btn btn-primary btn-block" ng-click="ctr.generateTimeWindows()">Generate Times</button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">Start Time (24h)</span>
          <input type="number" class="form-control" min="6" max="24" ng-model="ctr.generateStartTime"><br>
        </div>
        <div class="input-group">
          <span class="input-group-addon">End Time (24h)</span>
          <input type="number" class="form-control" min="6" max="24" ng-model="ctr.generateEndTime"><br>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">Interval (h)</span>
          <input type="number" class="form-control" min="1" max="5" ng-model="ctr.generateInterval"><br>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Expire Time (m)</span>
          <input type="number" class="form-control" min="0" max="300" ng-model="ctr.generateExpire"><br>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">Max Total ($)</span>
          <input type="number" class="form-control" min="1" max="20000" ng-model="ctr.generateMaxTotal"><br>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Max Orders (#)</span>
          <input type="number" class="form-control" min="1" max="200" ng-model="ctr.generateMaxOrders"><br>
        </div>
      </div>
    </div>
  </div>
</div>
