.nav-pills {
  font-weight: bold;
}

.nav.nav-tabs {
  font-weight: bold;
  border-bottom: none !important;
}

.tab-content {
  background: #ffffff !important;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
