<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5">
        <label>Start Date</label>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="longDate" ng-model="ctr.startPick" is-open="ctr.isStartTimeDatepickerOpen" close-text="Close" ng-change="ctr.getOrders()" />
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="ctr.isStartTimeDatepickerOpen = true">
                <i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
        </p>
      </div>
      <div class="col-md-5">
        <label>End Date</label>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="longDate" ng-model="ctr.endPick" is-open="ctr.isEndTimeDatepickerOpen" close-text="Close" ng-change="ctr.getOrders()" />
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="ctr.isEndTimeDatepickerOpen = true">
                <i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
        </p>
      </div>
      <div class="col-md-2">
        <br>
        <button class="btn btn-primary btn-block" ng-click="ctr.pullOrders()">Pull Orders</button>
      </div>
    </div>
    <table class="table table-hover table-responsive" st-table="ctr.table" st-safe-src="ctr.orders">
      <thead>
        <tr>
          <th colspan="7">
            <input st-search="" class="form-control" placeholder="Search for an order or click a field to sort..." type="text" />
          </th>
        </tr>
        <tr>
          <th>
          <th st-sort="order.order_number" st-sort-default="true">Order</th>
          <th st-sort="order.id">Shopify ID</th>
          <th st-sort="order.created_at">Date Purchased</th>
          <th st-sort="order.customer.first_name">Customer</th>
          <th st-sort="order.time_window">Scheduled Time</th>
          <th st-sort="order.time_window">Pickup ID</th>
          <th st-sort="order.time_window">Delivery ID</th>
          <th st-sort="order.total_price">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in ctr.table" ng-click="ctr.selectedOrder = order">
          <td style="text-align: center;">
            <input type="radio" ng-model="ctr.selectedOrder" ng-value="order">
          </td>
          <td>{{order.order_number}}</td>
          <td>{{order.id}}</td>
          <td>{{order.created_at | date: 'EEE, MMM d, h:mm a'}}</td>
          <td>{{order.customer.first_name}} {{order.customer.last_name}}</td>
          <td><span ng-if="order.time_window">{{order.time_window.start_time | date: 'EEE, MMM d @ h:mm a'}} - {{order.time_window.end_time | date: 'h:mm a'}}</span></td>
          <td>{{order.pickup.job_id}}</td>
          <td>{{order.delivery.job_id}}</td>
          <td>${{order.total_price}}</td>
        </tr>
      </tbody>
    </table>
    <div class="panel-body well" ng-if="ctr.selectedOrder">
      <div class="row">
        <div class="col-xs-3">
          <h4><b>Order Details</b></h4>
          <div class="list-group" style="font-weight: normal;">
            <li class="list-group-item"><b>Number:</b> {{ctr.selectedOrder.order_number}}</li>
            <li class="list-group-item"><b>Shopify ID:</b> {{ctr.selectedOrder.id}}</li>
            <li class="list-group-item"><b>Total Price:</b> ${{ctr.selectedOrder.total_price}}</li>
            <li class="list-group-item"><b>Financial Status:</b> {{ctr.selectedOrder.financial_status}}</li>
            <li class="list-group-item"><b>Created at:</b> {{ctr.selectedOrder.created_at | date: 'EEE, MMM d, h:mm a'}}</li>
            <li class="list-group-item"><b>Updated at:</b> {{ctr.selectedOrder.updated_at | date: 'EEE, MMM d, h:mm a'}}</li>
          </div>
        </div>
        <div class="col-xs-3">
          <h4><b>Customer Details</b></h4>
          <div class="list-group" style="font-weight: normal;">
            <li class="list-group-item"><b>Name:</b> {{ctr.selectedOrder.customer.first_name}} {{ctr.selectedOrder.customer.last_name}}</li>
            <li class="list-group-item"><b>Email:</b> {{ctr.selectedOrder.email}}</li>
            <li class="list-group-item"><b>Phone:</b> {{ctr.selectedOrder.shipping_address.phone}}</li>
            <a class="list-group-item" href={{ctr.getGoogleMapsURL()}} target="_blank"><b>Address:</b> {{ctr.selectedOrder.shipping_address.address1}} {{ctr.selectedOrder.shipping_address.address2}} {{ctr.selectedOrder.shipping_address.city}}, {{ctr.selectedOrder.shipping_address.zip}}</a>
            <li class="list-group-item"><b>IP Address:</b> {{ctr.selectedOrder.browser_ip}}</li>
          </div>
        </div>
        <div class="col-xs-3">
          <h4><b>Scheduling</b></h4>
          <div class="list-group" style="font-weight: normal;">
            <li class="list-group-item"><b>Status:</b> {{ctr.selectedOrder.status}}</li>
            <li class="list-group-item"><b>Scheduled Time:</b><span ng-if="ctr.selectedOrder.time_window.start_time"> {{ctr.selectedOrder.time_window.start_time | date: 'EEE, MMM d, h:mm a'}} - {{ctr.selectedOrder.time_window.end_time | date: 'h:mm a'}}</span></li>
            <li class="list-group-item"><b>Note:</b> {{ctr.selectedOrder.note}}</li>
          </div>
        </div>
        <div class="col-xs-3">
          <h4><b>Task</b></h4>
          <div class="list-group" style="font-weight: normal;">
            <li class="list-group-item"><b>Agent:</b> {{ctr.selectedOrder.pickup.fleet_name}}</li>
            <a class="list-group-item" href="{{ctr.selectedOrder.pickup.tracking_link}}" target="_blank"><b>Pickup Task (Track):</b> {{ctr.selectedOrder.pickup.job_id}}</a>
            <li class="list-group-item"><b>Pickup Status:</b> {{ctr.appConfig.taskStatuses[ctr.selectedOrder.delivery.job_status]}}</li>
            <a class="list-group-item" href="{{ctr.selectedOrder.delivery.tracking_link}}" target="_blank"><b>Delivery Task (Track):</b> {{ctr.selectedOrder.delivery.job_id}}</a>
            <li class="list-group-item"><b>Delivery Status:</b> {{ctr.appConfig.taskStatuses[ctr.selectedOrder.pickup.job_status]}}</li>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <a type="button" class="btn btn-success btn-block">
            Line Items
          </a>
        </div>
        <div class="col-xs-3">
          <a type="button" class="btn btn-primary btn-block" href="{{ctr.selectedOrder.order_status_url}}" target="_blank">
            Status Page
          </a>
        </div>
        <div class="col-xs-3">
          <a type="button" class="btn btn-warning btn-block" ng-disabled="!ctr.selectedOrder.time_window" ng-click="ctr.unscheduleOrder()">
            Unschedule
          </a>
        </div>
        <div class="col-xs-3">
          <button type="button" class="btn btn-danger btn-block" ng-disabled="!ctr.selectedOrder.delivery" ng-click="ctr.unassignOrder()">
            Unassign
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
