<div class="row">
  <div class="col-md-6">
    <label>Start Date</label>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="longDate" ng-model="ctr.pickStart" is-open="ctr.isStartTimeDatepickerOpen" close-text="Close" ng-change="ctr.loadTimeWindows()" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="ctr.isStartTimeDatepickerOpen = true;">
        <i class="fa fa-calendar" aria-hidden="true"></i></button>
      </span>
    </p>
  </div>
  <div class="col-md-6">
    <label>End Date</label>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="longDate" ng-model="ctr.pickEnd" is-open="ctr.isEndTimeDatepickerOpen" close-text="Close" ng-change="ctr.loadTimeWindows()" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="ctr.isEndTimeDatepickerOpen = true;">
        <i class="fa fa-calendar" aria-hidden="true"></i></button>
      </span>
    </p>
  </div>
</div>
<uib-tabset justified="true">
  <uib-tab ng-repeat="day in ctr.timeWindows | limitTo:7" select="ctr.selectReset()">
    <uib-tab-heading>{{day[0].start_time | date : 'EEE, MMM d'}} <span ng-if="day[0].start_time.getDate() === ctr.today.getDate()"> (Today)</span></b><br>{{day.length}} Times | {{ctr.totalOrders(day)}} Orders</uib-tab-heading>
    <div class="well">
      <h4><b>Times</b></h4>
      <button class="btn btn-default btn-pad" ng-repeat="time in day" ng-click="ctr.selectTime(time)">
        {{time.start_time | date: 'fullDate'}}<br>
        <b>{{time.start_time | date: 'shortTime'}} to {{time.end_time | date: 'shortTime'}}</b>
        <br>Orders: {{time.orders.length}} / {{time.max_orders}}
        <span ng-if="ctr.selectedTime._id === time._id"><br>${{ctr.totalPrice()}} / ${{ctr.selectedTime.max_total}}</span>
      </button>
    </div>
    <div class="well">
      <h4><b>Orders</b></h4>
      <button class="btn btn-default btn-pad" ng-repeat="order in ctr.selectedTimeOrders" ng-click="ctr.toggleOrder(order)" ng-class="{active: ctr.selectedOrders.indexOf(order) > -1}">
        <b>{{order.name}}</b><b style="float: right;">{{$index+1}}</b>
        <br><b>ID:</b> #{{order.id}}
        <br><b>Customer:</b> {{order.customer.first_name}} {{order.customer.last_name}}
        <br><b>Address:</b> {{order.shipping_address.address1}}
        <br>{{order.shipping_address.zip}}, {{order.shipping_address.city}}
        <br><b>Total:</b> ${{order.total_price}} <b>Items:</b> {{order.line_items.length}}
        <span ng-if="order.delivery"><br><b><font color='green'>Assigned:</font> </b>{{order.delivery.fleet_name}}</b></span>
      </button>
      <button class="btn btn-default btn-pad" ng-if="ctr.selectedTimeOrders.length < 1">
        No orders, select a time window
      </button>
    </div>
    <div class="well">
      <h4><b>Agents</b></h4>
      <button class="btn btn-default btn-pad" ng-repeat="agent in ctr.agents" ng-click="ctr.selectedAgent = agent" ng-class="{active: ctr.selectedAgent === agent}">
        <b>{{agent.username}}</b> <b style="float: right;">{{ctr.alphabet[$index]}}</b>
        <br><b>ID:</b> #{{agent.team_id}}
        <br><b>Status:</b><font ng-if="agent.status == 0" color="green">Available</font>
                          <font ng-if="agent.status == 1" color="red">Offline</font>
                          <font ng-if="agent.status == 2" color="red">Busy</font>
        <br><b>Phone:</b> {{agent.phone}}
      </button>
    </div>
    <div class="well">
      <h4><b>Costcos</b></h4>
      <button class="btn btn-default btn-pad" ng-repeat="store in ctr.costcos" ng-click="ctr.selectedStore = store" ng-class="{active: ctr.selectedStore === store}">
        <b>{{store.name}}</b>
        <br>{{store.address.split(',', 1)[0]}}
        <br>{{store.address.split(',')[1]}}, {{store.address.split(',')[2]}}
        <br>{{store.phone}}
      </button>
    </div>
    <div class ="row">
      <div class="col-sm-4">
        <button class="btn btn-success btn-block" ng-click="ctr.createTasks()" ng-disabled="!ctr.selectedAgent.team_id || !ctr.selectedStore.name || ctr.selectedOrders.length < 1">Assign Tasks</button>
      </div>
      <div class="col-sm-8">
        <button class="btn btn-primary btn-block">Open Map</button>
      </div>
    </div>
  </uib-tab>
</uib-tabset>
<br><br>

<!-- <h4><b>Agents</b></h4>
<label>Select an agent:</label>
<select ng-model="ctr.selectedAgent" ng-options="agent.username for agent in ctr.agents">
</select>
<span ng-if="ctr.selectedAgent.username">
<br>
<b>ID:</b> {{ctr.selectedAgent.fleet_id}} <b>Team:</b> {{ctr.selectedAgent.team_id}} <b>Status:</b>
<font ng-if="ctr.selectedAgent.status == 0" color="green">Available</font>
<font ng-if="ctr.selectedAgent.status == 1" color="red">Offline</font>
<font ng-if="ctr.selectedAgent.status == 2" color="red">Busy</font>
<br><b>Phone:</b> {{ctr.selectedAgent.phone}} <a class="btn btn-primary btn-xs" href={{ctr.getGoogleMapsURL()}} target="_blank">Location</a>
<br><br>
<a type="button" class="btn btn-success">
  Push Tasks
</a> -->
